// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-lg;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  &__panel {

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {
  
      // открытие/закрытие меню только в случае работающего JS
  
      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }
  
      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }
  
    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  &__login {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
    display: inline-block;
    margin-top: 20px;
    svg {
      margin-right: 8px;
    }

    span,
    svg {
      vertical-align: middle;
    }
  }

  .mobile-menu {
    margin-top: 20px;
  }

  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    margin-left: 20px;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
