// В этом файле должны быть стили для БЭМ-блока filter-dropdown, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-dropdown {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 15px;
  }

  .dropdown__toggler {
    position: relative;
    display: block;
    text-decoration: none;
    color: #261C29;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    background: #fff;
    border-radius: 15px;
    padding: 8px 45px 8px 16px;

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #261C29;
      border-right: 1px solid #261C29;
      right: 18px;
      bottom: 9px;
      transform: translateY(-70%) rotate(45deg);
    }
  }

  @media (min-width: $screen-lg) {
    
    &:not(:last-child) {
      margin-right: 25px;
    }
    
    .dropdown__toggler {
      border-radius: 15px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      padding: 8px 45px 8px 20px;
    }
  }

  &.dropdown--open {

    .dropdown__toggler {
      &:before {
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }
}
