// В этом файле должны быть стили для БЭМ-блока filter-dropdown, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-dropdown {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 10px;
  position: static;

  &:not(:last-child) {
    margin-right: 10px;

    @media (min-width: $screen-sm) {
      margin-right: 15px;
    }
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    user-select: none;
    cursor: pointer;
    padding: 4px;
  
    > span {
      display: inline-block;
      width: 100%;
      height: 2px;
      background: transparent;
      position: relative;
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #B2A8B5;
        transform-origin: 50% 50%;
      }
  
      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
  
      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }

  .dropdown__toggler {
    position: relative;
    display: block;
    text-decoration: none;
    color: #261C29;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    background: #fff;
    border-radius: 15px;
    padding: 8px 42px 8px 14px;

    @media (min-width: $screen-sm) {
      padding: 8px 45px 8px 16px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #261C29;
      border-right: 1px solid #261C29;
      right: 18px;
      bottom: 9px;
      transform: translateY(-70%) rotate(45deg);
    }

    .active-value {
      opacity: 0;
      min-width: 16px;
      height: 16px;
      background: $color-main;
      border-radius: 50%;
      font-size: 10px;
      line-height: 12px;
      font-weight: 600;
      color: #fff;
      position: absolute;
      top: -4px;
      right: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding: 2px;
      }
    }

    &.active {
      .active-value {
        opacity: 1;
      }
      background: #EEB8D1;
    }
  }

  @media (min-width: $screen-lg) {
    
    &:not(:last-child) {
      margin-right: 25px;
    }
    
    .dropdown__toggler {
      border-radius: 15px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      padding: 8px 45px 8px 20px;
    }
  }

  .dropdown__menu {
    padding: 20px 40px 30px 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 4px rgba(74, 74, 74, 0.25);
    width: 100%;
    right: 0;
  }

  &.dropdown--open {

    .dropdown__toggler {
      background: #EEB8D1;
      &:before {
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }

  &__row {
    // @include row;
  }

  &__item {
    // @include col();
    // @include col(md, 4);
    margin-bottom: 5px;

    .field-checkbox__name {
      cursor: pointer;
    }

    .field-checkbox__name-text {

      &:after {
        top: 4px;
      }
      &:before {
        display: none;
      }
    }

    .field-checkbox__input:checked ~ .field-checkbox__name-text {
      font-weight: 600;
      color: $color-main;
    }
  }

  &__actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__btn-apply {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 20px;
    color: #A05175;
    background:#FFE2F0;
    border: none;
    margin: 0 5px;

    &:hover,
    &:focus {
      background: darken(#FFE2F0, 4%);
    }
  }

  &__btn-clear {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 20px;
    color: #B2A8B5;
    background:#fff;
    border: none;
    margin: 0 5px;

    &:hover,
    &:focus {
      color: #B2A8B5;
      background: lighten(#FFE2F0, 4%);
    }
  }

  &--flowers {
    .filter-dropdown__row {
      @include row;
    }
  
    .filter-dropdown__item {
      @include col();
      @include col(md, 4);
    }
  }

  &--reason {
    .filter-dropdown__row {
      @include row;
    }
  
    .filter-dropdown__item {
      @include col();
      @include col(md, 4);
    }

    .field-checkbox__name-text {
      span {
        color: #B2A8B5;
        font-weight: 400;
        margin-left: 10px;
        letter-spacing: 1px;
      }
    }
  }

  &--recipient {
    .filter-dropdown__row {
      @include row;
    }
  
    .filter-dropdown__item {
      @include col();
      @include col(md, 4);
    }
  }

  &--size {
    .filter-dropdown__row {
      @include row;
      max-width: 70%;
      margin: auto;
    }
  
    .filter-dropdown__item {
      @include col();
      @include col(md, 3);
    }
  }

  &--color {
    .filter-dropdown__row {
      display: flex;

    }
    .filter-dropdown__item {
      margin: 5px;
    }
  }
}
