// В этом файле должны быть стили для БЭМ-блока filter-dropdown, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-dropdown {

  $block-name:                &; // #{$block-name}__element

  background: #fff;
  border-radius: 15px;
  padding: 8px 45px 8px 20px;

  &:not(:last-child) {
    margin-right: 26px;
  }

  .dropdown__toggler {
    text-decoration: none;
    color: currentColor;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
