// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background-color: $color-main--light;
  padding: 0 0 15px 0;

  @media (min-width: $screen-lg) {
    padding: 40px 0 45px 0;
  }

  .logo {
    flex-shrink: 0;
    width: 103px;
    height: 46px;
    
    @media (min-width: $screen-sm) {
      width: 128px;
      height: 57px;
      margin-right: 55px;
    }

    @media (min-width: $screen-lg) {
      width: 274px;
      height: 111px;
    }

    @media (min-width: $screen-xl) {
      margin-right: 75px;
    }
  }

  &__inner {
    @include container;

    &--top {
      background: #fff;
      padding-top: 15px;
      padding-bottom: 10px;

      @media (min-width: $screen-xs) {
        padding-top: 25px;
        padding-bottom: 15px;
      }

      @media (min-width: $screen-lg) {
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__top {
    display: flex;
    @media (min-width: $screen-lg) {
      margin-bottom: 35px;
    }
  }
  
  &__content {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    @media (min-width: $screen-lg) {
      justify-content: inherit;
    }

    .hcleft {
      display: none;

      @media (min-width: $screen-lg) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        margin-right: 54px;
      }
      
      @media (min-width: $screen-xl) {
        flex-basis: 50%;
      }
    }
    .hcright {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      &__feedback {
        display: none;
        @media (min-width: $screen-lg) {
          display: inline-flex;
          order: 2;
        }
        @media (min-width: $screen-xl) {
          order: 1;
        }
      }

      &__panels {
        order: 1;
        margin-bottom: 18px;
        display: flex;

        @media (min-width: $screen-lg) {
          display: block;
        }

        .shop-panel {

          @media (min-width: $screen-lg) {
            margin-top: 18px;
          }
        }

        .user-panel {
          display: none;
          @media (min-width: $screen-lg) {
            display: inline-block;
          }
        }

        @media (min-width: $screen-xl) {
          order: 2;
          margin-bottom: 0;
        }
      }
      
      @media (min-width: $screen-xl) {
        align-items: flex-start;
        flex-direction: row;
        flex-basis: 50%;
      }
    }
  }

  &__filter-group {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    
    @media (min-width: $screen-md) {
      margin-bottom: 10px;
    }
  }

  .mobile-header-group {

    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}

.hdelivery {

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 16px;
  }

  &--mobile {
    display: flex;
    margin: 20px 0;

    @media (min-width: $screen-md) {
      margin: 30px 0;
    }

    .hdelivery__title {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}

.hdelivery-select-city {

  .dropdown__toggler {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: currentColor;
    position: relative;
    display: block;
    padding-right: 18px;

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #261C29;
      border-right: 2px solid #261C29;
      right: 0;
      bottom: 2px;
      transform: translateY(-70%) rotate(45deg);
    }
  }

  &.dropdown--open {

    .dropdown__toggler {
      &:before {
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }
}

.hcontacts {

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 8px;
  }

  &__phone {
    a {
      text-decoration: none;
      color: #261C29;
    }
    font-size: 18px;
    font-weight: 600;
    color: #261C29;
    margin-bottom: 3px;
  }

  &__infotext {
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
  }
}

.more-contacts {
  margin-top: 15px;
  position: relative;
  display: block;
  z-index: 3;

  .dropdown__toggler {
    font-size: 14px;
    font-weight: 400;
    color: currentColor;
    text-decoration: none;
    display: block;
    padding-right: 16px;

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #261C29;
      border-right: 1px solid #261C29;
      right: 0;
      bottom: 2px;
      transform: translateY(-70%) rotate(45deg);
    }
  }

  &.dropdown--open {

    .dropdown__toggler {
      &:before {
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }

  .dropdown__menu {
    border-radius: 10px;
    background:#FFF;
    box-shadow: 0px 4px 30px 4px rgba(74, 74, 74, 0.25);
    padding: 12px 30px 20px 30px;
    font-size: 14px;
    min-width: 255px;

    .social__icon {
      width: 32px;
      height: 32px;
      fill: $color-main;
    }
  }
}

.hcright {
  display: flex;
  justify-content: space-between;

  &__feedback {
    flex-grow: 1;
    text-align: center;
  }
}

.header-feedback {
    margin-left:auto;
}

.mobile-header-nav {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;

  @media (min-width: $screen-sm) {
    margin-bottom: 30px;
  }

  &__item {
    margin-right: 16px;
  }

  &__link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 116px;
    height: 120px;
    border-radius: 15px;
    position: relative;
    padding: 10px 12px;
    background-color: #261C29;
    overflow: hidden;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    }

    span {
      position: relative;
      font-size: 14px;
      font-weight: 600;
    }
  }
}