// В этом файле должны быть стили для БЭМ-блока accordion-group, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.accordion-group {

  $block-name:                &; // #{$block-name}__element

  padding: 10px 0 38px;
}

.accordion-group__accordion {
  margin: 0 0 20px 0;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 30px 4px rgba(74, 74, 74, 0.25);
}

.accordion-group__accordion-heading {
  margin: 0;
}

.accordion-group__accordion-btn {
  background-color: transparent;
  font-family: $font-family;
  border: none;
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  padding: 20px 20px;
  text-align: left;
  width: 100%;

  @media (min-width: $screen-md) {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 20px;
  }
}
.accordion-group__accordion-btn:focus {

}

.accordion-group__accordion-panel {
  border: none;
  padding: 0px 20px 12px 20px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;

  @media (min-width: $screen-md) {
    font-size: 16px;
    line-height: 20px;
  }

  p {
    margin-top: 0;
  }
}

.accordion-group__accordion-btn_expanded {

}