// В этом файле должны быть стили для БЭМ-блока cart-dop, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cart-dop {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  
    &__item {
      margin-right: 10px;
      margin-bottom: 10px;

  
      .btn {
        border-radius: 25px;
        border-color: #B2A8B5;
        color: #B2A8B5;
        font-size: 14px;
        padding: 6px 15px;
  
        &:hover,
        &:focus {
          background: #B2A8B5;
          color: #fff;
        }
      }
  
      &.active {
        .btn {
          background: #B2A8B5;
          color: #fff;
        }
      }
    }
  }
}
