// В этом файле должны быть стили для БЭМ-блока product-card, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-card {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    text-decoration: none;
    color: currentColor;
    display: block;
  }

  &__image {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }

  &__body {
    padding: 10px 20px 5px 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;

    .add-favourites {
      flex-shrink: 0;
    }
  }

  &__info {
    flex-grow: 1;
    margin-right: auto;

    .product-article {
      font-size: 12px;
      font-weight: 400;
    }
    .product-name {
      font-size: 14px;
      font-weight: 600;
    }
  }  

  &__footer {
    display: flex;
    align-items: flex-end;
    padding: 5px 20px;
  }

  &__price {
    margin-right: 38px;

    .old-price {
      font-size: 14px;
      font-weight: 600;
      color: #B2A8B5;
    }
    .current-price {
      font-size: 16px;
      font-weight: 600;
      color: $color-main;
    }
  }

  &__actions {
    margin-left: auto;
    flex-grow: 1;

    .btn {
      border-radius: 20px;
      padding: 6px 10px;
      width: 100%;
    }
  }
}
