// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background-color: $color-main--dark;
  padding: 20px 0;

  @media (min-width: $screen-sm) {
    padding: 35px 0;
  }

  &__inner {
    @include container;
    color: #fff;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__copyright {
    overflow: hidden;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    list-style: none;
    padding-left: 0;
  }

  &__social {
    max-width: 100%;
    flex-basis: 100%;
    
    @media (min-width: $screen-sm) {
      margin-left: auto;
      max-width: 50%;
      flex-basis: 50%;
    }

    @media (min-width: $screen-md) {
      max-width: 25%;
      flex-basis: 25%;
    }
  }

  &__links-col {
    margin-bottom: 20px;
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 100%;
    
    @media (min-width: $screen-sm) {
      padding-right: 30px;
      max-width: 50%;
      flex-basis: 50%;
    }

    @media (min-width: $screen-md) {
      max-width: 25%;
      flex-basis: 25%;
    }
  }

  &__links-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__links-list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 4px;
    }

    li a {
      color: #fff;
      text-decoration: none;
    }
  }
}
