// В этом файле должны быть стили для БЭМ-блока sidebar-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sidebar-nav {

  $block-name:                &; // #{$block-name}__element

  list-style: none;
  padding: 0;

  &__item {
    &.active {

      #{$block-name}__link {
        box-shadow: 0px 4px 30px 4px rgba(74, 74, 74, 0.25);
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: currentColor;
    display: block;
    padding: 14px 18px 14px 50px;
    border-radius: 15px;
    position: relative;

    svg {
      width: 20px;
      height: 21px;
      position: absolute;
      left: 15px;
      top: 12px;
    }

    @media (min-width: $screen-xl) {
      font-size: 18px;
      padding: 16px 20px 16px 64px;

      svg {
        width: 24px;
        height: 25px;
        left: 20px;
        top: 12px;
      }
    }
  }
}
