// В этом файле должны быть стили для БЭМ-блока profile-board, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.profile-board {

  $block-name:                &; // #{$block-name}__element

  &--box {
    border-radius: 15px;
    background:#FFF;
    box-shadow: 0px 4px 30px 4px rgba(74, 74, 74, 0.25);
    padding: 20px;

    @media (min-width: $screen-lg) {
      padding: 40px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    font-size: 16px;
    line-height: 1.2;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 30px;
    padding-bottom: 30px;
    flex-direction: column;

    b {
      font-weight: 600;
    }

    @media (min-width: $screen-sm) {
      flex-direction: row;
    }
  }

  &__item-group {
    
    @media (min-width: $screen-sm) {
      flex-basis: 50%;
      max-width: 50%;
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $screen-xl) {
      flex-direction: row;
      flex-basis: 55%;
      max-width: 55%;
    }
  }

  &__item-num {
    flex-grow: 1;
  }
  &__item-num-value {
    font-weight: 600;
    margin-bottom: 2px;
  }
  &__item-num-date {

  }
  &__item-status {
    flex-grow: 1;
  }
  &__item-cost {

    @media (min-width: $screen-sm) {
      flex-basis: 25%;
      max-width: 25%;
      text-align: center;
    }
  }
  &__item-cost-value {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
  }
  &__item-more {
    
    @media (min-width: $screen-sm) {
      flex-basis: 25%;
      max-width: 25%;
    }

    @media (min-width: $screen-xl) {
      flex-basis: 20%;
      max-width: 20%;
    }

    .btn {
      margin: 8px 0;
      padding: 6px 8px;
      border-radius: 25px;
      width: 100%;
      font-size: 14px;
    }
  }

  &__item-num,
  &__item-status,
  &__item-cost {
    padding-right: 20px;
  }

  &__item-status-value {
    margin-bottom: 12px;
  }

  &__item-status-date {
    b {
      display: block;
    }
  }

  &__payment {
    display: flex;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 30px;
    padding-bottom: 30px;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      flex-direction: row;
    }
  }

  &__payment-amount {
    
    @media (min-width: $screen-sm) {
      flex-basis: 25%;
      max-width: 25%;
      padding-right: 25px;
    }
  }

  &__payment-amount-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  &__payment-amount-num {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
  }

  &__payment-method {
    flex-grow: 1;
    padding-right: 25px;
    font-size: 16px;
    display: flex;
    align-items: flex-end;

    b {
      font-weight: 600;
    }
  }

  &__payment-actions {
    margin-top: 10px;
    
    @media (min-width: $screen-sm) {
      flex-basis: 25%;
      max-width: 25%;
      margin-top: 0;
    }

    @media (min-width: $screen-xl) {
      flex-basis: 20%;
      max-width: 20%;
    }

    .btn {
      margin: 8px 0;
      padding: 6px 8px;
      border-radius: 25px;
      width: 100%;
      font-size: 14px;
    }
  }

  &__products {

  }

  &__products-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__products-row {
    @include row;
  }

  &__products-item {
    @include col();
    @include col(xl, 6);
    margin-bottom: 15px;

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__bonuses-amount {
    font-size: 14px;
    font-weight: 600;
    color: $color-main;
    margin-bottom: 40px;
  }

  &__history-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__history-table {
    border: none;
    
    @media (min-width: $screen-xl) {
      max-width: 590px;
    }

    td, th {
      padding: 0.4em 1.4em;
      vertical-align: middle;
      border: none;
      text-align: center;

      &:not(:first-child) {
        border: none;
      }

      span {
        position: relative;
      }
    }

    tr:nth-child(odd) {
      td {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #FFE2F0;
        }

        &:first-child {
          &:before {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
        &:last-child {
          &:before {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
      
    }
  }

  &__settings {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  &__settings-row {

    @media (min-width:$screen-md) {
      max-width: 670px;
    }

    @media (min-width:$screen-lg) {
      max-width: 595px;
    }
  }

  &__settings-row {
    @include row;
  }

  &__settings-col {
    @include col();
    @include col(md, 6);

    @media (min-width:$screen-md) {
      margin-bottom: 15px;
    }
  }
}
