// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

.field-checkbox {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: ($line-height / 2);
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-top: 0.3em;
    padding-left: 2.5em;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
    min-height: 26px;
  }

  &__name-text {

    // свой чекбокс с картинкой

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0.1em;
    //   left: 0;
    //   width: 14px;
    //   height: 14px;
    //   background-image: svg-load('../blocks/field-checkbox/img_to_bg/checkbox.svg');
    //   background-size: 100%;
    // }
    // @at-root input:checked ~ &:before {
    //   background-image: svg-load('../blocks/field-checkbox/img_to_bg/checkbox--checked.svg');
    // }

    // / свой чекбокс с картинкой

    // свой чекбокс без картинок

    &:before {
      content: '';
      position: absolute;
      top: 0.1em;
      left: 0;
      width: 26px;
      height: 26px;
      border: 2px solid $color-light;
      border-radius: 6px;

      @at-root input:checked ~ & {
        border-color: $color-main;
      }
    }
    
    @at-root input:focus ~ &:before {
      @include field-focus;
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(0.1em + 8px);
      left: 8px;
      width: 11px;
      height: 6px;
      opacity: 0;
      border-left: 2px solid $color-main;
      border-bottom: 2px solid $color-main;
      transform: rotate(-45deg);
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }

    a {
      color: $color-main;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    // / свой чекбокс без картинок
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 2.5em;
  }

  &__help-text {
    @include field-help-text;
  }

  &.color-sample {
    margin: 0;

    #{$block-name}__name {
      padding: 0;
      margin: 0;
      line-height: 1;
      display: block;
      width: 30px;
      height: 30px;
    }

    #{$block-name}__name-text {
      line-height: 1;
      width: 30px;
      height: 30px;
      background: #ccc;
      display: block;
      border-radius: 50%;

      &:after {
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        border: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--white {
      #{$block-name}__name-text {
        border: 1px solid #B2A8B5;

        &:after {
          background: #000;
        }
      }
    }
  }
}
